.kart-info {
    margin: 5px 0;
}

.horizontal-flex {
    display: flex;

    @media (max-width: 600px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
